.WeatherForecast {
  text-align: center;
  margin-top: 30px;
  color: #5e6c77;
}

.WeatherForecast-day {
  margin-bottom: 5px;
}

.WeatherForecast-temperature-max,
.WeatherForecast-temperature-min {
  font-size: 15px;
}

.WeatherForecast-temperature-min {
  opacity: 0.7;
  margin-left: 5px;
}
