.WeatherForecast {
  text-align: center;
  margin-top: 20px;
  color: #5e6c77;
}

.WeatherForecast-day {
  margin-bottom: 5px;
}

.WeatherForecast-temperature-max {
  font-weight: bold;
  margin-right: 5px;
}
